<h1>Welcome to Pet Sitter!</h1>

<section id="welcome">
  <p>Please login or signup below.</p>
</section>

<section id="login-options">
  <a href="/login">Login</a><br>
  <a href="/signup">Signup</a>
</section>
  
